* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*resetting all margins in webpage*/

body {
    background-color: #d9dcd6;
}
/*turns background white, applied to the whole of the page*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*general styling applied to to header tag*/

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*applying font-size and spaceing for 'h1' tags inside header tags.*/

.header h1 .seo {
    color: #d9dcd6;
}
/*selectively changes the text colour to white in logo.*/

.header nav {
    padding-top: 15px;
    margin-right: 0px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*general styling such as spacing and font for navigation bar, also making it populate from the right side*/

.header nav ul {
    list-style-type: none;
}
/*resetting the ul list-style in navigation*/

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*applying spacing inbetween the links in the navigation buttons and specifying display setting*/

a {
    color: #ffffff;
    text-decoration: none;
}
/*global setting, turns all links text to white*/

p {
    font-size: 16px;
}
/*global setting, settting the p tag font size*/

.banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*link and settings for the site banner*/

.float-left {
    float: left;
    margin-right: 25px;
}
/*setting to toggle content to right side*/

.float-right {
    float: right;
    margin-left: 25px;
}
/*setting to toggle content to left side*/

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*applying parameters to section tag*/

.link-info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*applying settings for content in the links*/

.link-info img {
    max-height: 200px;
}
/*applying settings for images in the links*/

.link-info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*applying settings for headings in the links*/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*applying parameters to aside tag*/

.card {
    margin-bottom: 32px;
    color: #ffffff;
}
/*applying card settings*/

.card h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*applying card heading #3 settings*/

.card img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*applying card images settings*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*applying settings for footer tags*/

footer h2 {
    font-size: 20px;
}
/*setting font-size for the heading in footer*/
